
* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: Muli, serif;
}

h1 {
  font-size: 1.2rem;
  padding-left: 1.7rem;
  background: transparent url(../images/logo.png) 0% 50% no-repeat;
  background-size: 1.2rem;
}


html {
  font-family: Muli, sans-serif;
  font-size: 16px;
  background-color: white;
  color: white;

  background: black url(../images/bg.jpg) 50% 50% no-repeat;
  background-size: cover;
  height: 100%;
}


[class^="column-"] {
  display: inline-block;
}

  .label {
    font-size: 0.5rem;
  }


body {
  padding: 0;
  margin: 0;
  height: 100%;
}

article {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

header {
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  top: 0;
  right: 0;
  left: 0;

  transition: -webkit-transform 0.5s ease-out 0s;
  transition: transform 0.5s ease-out 0s;
}

.header_middle {
  flex-grow: 1;
}

.gpx__select {
  position: relative;
}


.container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: -webkit-transform 0.5s ease-out 0s;
  transition: transform 0.5s ease-out 0s;
  flex-grow: 1;
}

.container > div {
  background-color: transparent;
}

.waypoints {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 25rem;
  overflow-y: scroll;
  text-align: center;
  font-size: 0.6rem;
}

.waypoint_list {
  width: 100%;
  table-layout: fixed;
}
.wpt_name {
  text-align: left;
  width: 50%;
}

.wpt_lat, .wpt_lon {
  width: 16%;
}


.wpt_description, .wpt_symbol, .wpt_type {
  display:none;
}


.compass {
  display: grid;
  width: 50%;
  height: 50%;
  text-align: center;
}

.compass__rose {
  grid-row: 1;
  grid-column: 1;
}

.compass__rose__dial {
  height: 100%;
  width: 100%;
}

.compass__declination {
  grid-row: 1;
  grid-column: 1;
}

.compass__declination__dial {
  height: 100%;
  width: 100%;
}

.compass__pointer__needle {
  height: 100%;
  width: 100%;
}

.compass__pointer {
  grid-row: 1;
  grid-column: 1;
}


.position-flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.position-flex-container > div {
  background-color: transparent;
  width: 33.3%;
  text-align: center;
}


.options-flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.options-flex-container > div {
  background-color: transparent;
  width: 20%;
  text-align: center;
}

.btn {
  border: 0;
  color: white;
  cursor: pointer;
  text-align: center;

  height: 4rem;

  background-color: transparent;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto 50%;

  -webkit-tap-highlight-color: transparent;
  outline: none;
}

  .btn svg * {
    transition: fill 0.5s ease-out 0s;
  }

.btn--hide {
  display: none;
}

.btn--hide.show {
  display: inline-block;
}

  .btn:active {
    background-color: rgba(127, 127, 127, 0.5);
  }

  .btn__icon {
    height: 50%;
    width: 100%;
  }

  .btn__icon--active {
    display: none;
  }

  .btn__icon--inactive {
    display: block;
  }

.btn.active .btn__icon--active {
    display: block;
  }

.btn.active .btn__icon--inactive {
    display: none;
  }





.status {
  position: flex;
  left: 0;
  right: 0;
  bottom: 0;
  flex-shrink: 0;
}

.position {
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  text-align: center;
}

.options {

}

.options__btn {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


td.max-width {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;

  background-color: rgba(0, 0, 0, 0.8);
}

.popup.popup--show {
  display: block;
}

  .popup__content {
    max-width: 300px;
    margin: 0 auto;


    background-color: white;
    color: black;
  }

    .popup__contents {
      padding: 1rem;
    }

      .popup__inner {

      }

        .popup__inner--hide {
          display: none;
        }

    .popup__close {
      display: block;
      padding: 1rem;
      text-align: right;
      width: 100%;
      border: 0;
      background: transparent;
      outline: none;
    }

      .popup__close:hover {
        text-decoration: underline;
        cursor: pointer;
      }



html.nightmode {
  background: black;
  color: white;
}

  html.nightmode .container {
    transform: translateY(-2rem);
    -webkit-transform: translateY(-2rem);
  }

  html.nightmode header {
    transform: translateY(-4rem);
    -webkit-transform: translateY(-4rem);
  }

  html.nightmode .label {
    color: rgba(127, 127, 127, 0.8);
  }

  html.nightmode .btn svg * {
    fill: rgba(127, 127, 127, 0.5);
  }



  .settings_dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .settings_dropdown {
    position: relative;
    display: inline-block;
  }
  
  .settings_dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .settings_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
  }

  .settings_dropdown-content a:hover {background-color: #ddd;}

  .settings_dropdown:hover .settings_dropdown-content {display: block;}
  
  .settings_dropdown:hover .settings_dropbtn {background-color: #3e8e41;}
  